<div class="page-header">
	<h1>Thanks for giving us some information</h1>
</div>
<h3>We need to put <%= @num_students %> students into <%= @num_teams %> teams.</h3>
<%= team_calc(@num_students, @num_teams) %>
